body {
  background-color: #121212;
}

body div {
  background-color: #252525;
  color: #adadad;
  margin-left: 20%;
  margin-right: 20%;
  padding: 1%;
  padding-top: 0.1%;
}

body div p {
  font-size: 150%;
}

body div button {
  margin-left: 5%
}

body div button:hover {
  cursor: pointer;
}

h1{
margin-left: 20%;
font-size: 250%;
color: #adadad;
}

h2{
  font-size: 200%;
  margin-bottom: -2%;
}

.checklist {
  font-size: 150%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.checklist ul {
  list-style-type: none;
  margin-top: 2%;
}

.checkboxes{
  padding-right: 12%;
  display: flex;
  justify-content: space-between;
  color: #a5a5a5;
}

.checkboxes input{
  height: 20px;
  width: 20px;
}

.checkboxes input:hover{
  cursor: pointer;
}

.checkboxes div{
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.listHeader{
  font-weight: bold;
}

.characters{
  padding-left: 23%;
  padding-right: 3%;
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
}

footer{
  background-color: #121212;
}

footer div {
  background-color: #121212;
  width: 18%;
  display: flex;
  justify-content: space-between;
  
}

footer div img {
  margin-right: 0.2em;
  width: 1.5em;
  align-self: center;
}